.card-header{
    padding:0 !important;
    height: 4rem;
    
  }
  .btn-outline-primary{
    margin-left: 80%;
  }
  ul li{
    border:1px solid red;
  }


  .list-group-item {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.card-header {
  padding: 0 !important;
  height: 2.5rem;
}